.basketSection {
    position         : absolute;
    top              : 120px;
    right            : 50px;
    width            : 400px;
    min-height       : 400px;
    margin           : 0;
    padding          : .5em;
    background-color : #efefef;
    border           : 1px solid silver;
}

.basketSection h3 {
    margin           : 0 0 1em 0;
    padding          : 1.5em;
    text-align       : center;
    color            : #fff;
    background-color : #6e6e6e;
}

.basketSection div {
    text-align : center;
    font-style : italic;
    padding    : 5.5em 0;
}

.basketSection button {
    font-size: .85em;
}

.basketSection table {
    width           : 100%;
    border-collapse : collapse;
}

.basketSection table td {
    padding: .15em;
}

/* Render the price aligned right */
.basketSection table thead td:nth-child(3),
.basketSection table tbody td:nth-child(3),
.basketSection table tfoot td {
    text-align: right;
}

/* Render header and footer in bold */
.basketSection table thead td,
.basketSection table tfoot td {
    font-weight: bold;
}

.basketSection table tbody tr:first-child td {
    padding-top: 1em;
}
.basketSection table tbody tr:last-child td {
    padding-bottom: 1em;
}

.basketSection table thead {
    border-bottom: 1px solid silver;
}

.basketSection table tfoot {
    border-top: 1px solid silver;
}

.basketSection table tfoot td {
    padding-top : .5em;
    font-size   : 1.25em;
}
