<h2>Offers alla Carte!</h2>
<div data-bind="visible: isEmpty">
    <p> Ooops! Our Kitchen is having problems with the delivery! Please try it later. </p>
</div>
<input type="text" data-bind="value: searchPattern, valueUpdate: 'afterkeydown'" />
<table data-bind="visible: !isEmpty()">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: currentPizzas">
        <tr>
            <td>
                <span data-bind="text: name"> </span>
            </td>
            <td>
                <span data-bind="text: price.toFixed(2)"></span>&nbsp;EUR
            </td>
            <td>
                <button data-bind="click: $parent.selectItem">Select</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagination">
  <ul data-bind="foreach: pages">
    <li data-bind="css: {active : $parent.currentPageIndex() === pageIndex}">
      <a href="" data-bind="text: pageIndex + 1, click: function() { $parent.currentPageIndex(pageIndex) }" class="btn btn-default"></a>
    </li>
  </ul>
</div>

<div>
  <button data-bind="enable: canGoToCheckout(), click: goToCheckout"><b>Checkout </b>  </button>
</div>

<aside class="basketSection" data-bind="module: 'basketSection'"></aside>
