<h2>Select your pizza layer</h2>
<div data-bind="visible: isEmpty">
    <p> Ooops! Our Kitchen is having problems with the delivery! Please try it later. </p>
</div>
<table data-bind="visible: !isEmpty()">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: items">
        <tr>
            <td>
                <span data-bind="text: name"> </span>
            </td>
            <td>
                <span data-bind="text: price.toFixed(2)"></span>&nbsp;EUR
            </td>
            <td>
                <button data-bind="click: $parent.selectItem">Select</button>
            </td>
        </tr>
    </tbody>
</table>

<button data-bind="enable: canSelectToppings(), click: goToSelectToppings"><b>Select Toppings</b></button>

<aside class="basketSection" data-bind="module: {name : 'basketSection', template: 'basketSectionRemovable'}"></aside>
